<!--this is the header for the file-->
{% include "header.html" %}

{% block body %}
<h1>How to uses the CMS pages</h1>

  <h2>how it works</h2>
  <p>cms pull the data/infromation from the database it connected to then display it on a table that the amdin will be able to look at from their they can edit the data on the database from the website or add new data to the databse if they want.

  they can also delete any infromatuion from the database if need be for some reason</p>

  <h2>how thew delete button works</h2>
  <p>the delete when click will ask you if you are sure you want to delete this if you click ok it will delete the data from the databse and you will notice it will no longer be on the table. </p>

  <h2>how to update the data</h2>
  <p>when you click the update button a pop will appear with text with all the data display in the textboxes all you need to do is add or change the wording in the textbox and you will notice that once you click the update button on the pop when done that the information on the table will be updated</p>

  <h2>how to insert data</h2>
  <p>to add data click Add button at the top of the table, when you do this a pop up will appear from which you can add data in the textbox anything can be put in these text boxes from the ID of the data as this is picked by the database and is unpiue for each column.

 once all the information is added click the insert button at the bottom of the insert pop up from they you will notice that their will be another column add to the table containing everything you have added.

 also if you do not fill every textbox it will not insert any data and will request the user to enter data into the textbox
  </p>
{% endblock %}