<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href ="static/home.css">
<div class="adTitleBox">  </div>
<div class= "adTitle"> Napier PDT  </div>
</head>

<body class="container">
    <h1 id="title0">fdsf</h1>
    <!--Navigation bar will redirect user to either home page or training page-->
<img id="G-RoupLogo" src="static/G-RoupLogo.jpg">
<img id="image1" src="static/image1.jpg">
<img id="image2" src="static/image2.jpg">

<div class="nav">
	<div class="home">
		<a class="nav-item nav-link" href=".">Home</a>
	</div>
	<!--takes you to the test page-->
	<a href="{{ url_for('training') }}">Start Training</a>
	<!--take you to the toolkit napier page-->
	<a href="https://staff.napier.ac.uk/services/dlte/resources/PDT/Pages/PDT.aspx">PDT Toolkit</a>
	<!--this will take the user to tutiorual videos and admin Controls will take you to the login for the admin page-->
	<a class="nav-item nav-link" href = "logout">Logout</a>
	<div class="Right">
		<a href="https://onlinevideo.napier.ac.uk/Play/16482">Video</a>
		<a class="nav-item nav-link" href="/data">Admin Controls</a>
	</div>
</div>
	<h1 id="title1">What is this site?</h1>
	<p id="p0">
	This site was created by 6 Edinburgh Napier students who were tasked with creating a website that could give PDTs refresher training for their 
	duties as PDTs. It gives each user the chance to login with either a normal account or an admin account. The normal account can go the home page, 
	training page and quiz page. On the home page the user is given the ability to go to the other sections of the site whilst also being able to logout,
	learn about the site and PDTs and go to various sections throughout the site and PDT Toolkit site. The training page allows the user to view what
	quizzes they have completed and then also go to one of the three quiz options. The quiz page allows the user to carry out whatever quiz they have
	chosen and then be told whether they got a question right or wrong, if they got it wrong then they are given a link to the PDT Toolkit which they
	can go to for more information. An admin user can do all the same things as what a guest user can do except that they can also go to the admin
	controls. On the admin controls, the user is taken to the CMS (Content Managment System) which allows them to edit, add and delete questions for
	the quizzes and allows general editing of the database, there is also instructions on how to use the CMS.
	</p>
	
	<h1 id="title2">What is a PDT?</h1>
	<p id="p1">
	PDT stands for "Personal Development Tutor" and is a fundamental part of the Edinburgh Napier teaching system. A PDT is a someone who is a assigned
	to a student as is there to help with any issues or needs the student may have. A PDT is someone who a student should feel they can trust with anything
	and who a student feels comfortable talking to and working with. A PDT will be a student's first contact, will be proactive and not reactive, will be
	actively engaged, will be supportive and will always be confidential. A PDT can help settle a student into University life, help track your academic
	progress, keep record of all meetings listen to any non-academic concerns, point you in the right direction for further sources of support and more.
	A PDT cannot answer every question themselves, provide 24/7 support, change your grades and more. A link to more information on PDTs and what a PDT can 
	and cannot do is provided <a href="https://staff.napier.ac.uk/services/dlte/resources/PDT/Pages/PDT.aspx">here</a>
	</p>	
	<!--it will logout the user-->


<div class="footer">
  <p><a href="https://www.napier.ac.uk/">Napier</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.napier.ac.uk/about-us/contact-us">Help</a></p>
</div>

</body>
</html>