<!--this is the header for the file-->
{% include "header.html" %}
<!--Test Asnwers -->

<!--this is the contection to the css file-->
<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

<!--links the header and the page content together-->
{% block body %}

<div class="container">

    <div class="row">

        <div class="col md-12">



            <h2>options List <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add options Data</button></h2>



<!--display message when the action is competed-->
    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}



<!--table that the admins will see-->
            <table class="table table-striped">


                <tr>
              <th>optionID  </th>
              <th>description</th>
              <th>questionID </th>
              <th>correct</th>
              <th>Action</th>


          </tr>




<!--fetches data from the database and displays it-->
                {% for row in options %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.2}}</td>
                    
                    <td>


               <a href="/update1/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/delete1/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>

                    </td>

                </tr>

                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>

<!--allow you to edit the database from the website when edit is clicked-->
            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">

<!--calleds the update function in the app file-->
            <form action="{{ url_for('update1') }}" method="POST">


               <div class="form-group">


                  <label>description:</label>
                   <input type="hidden"  name="optionID " value="{{row.0}}">

                  <input type="text" class="form-control" name="description" value="{{row.1}}">


               </div>



               <div class="form-group">


                  <label>questionID :</label>

                  <input type="number" class="form-control" name="questionID " value="{{row.3}}">


               </div>


               <div class="form-group">


                  <label>correct:</label>

                  <input type="number" class="form-control" name="correct" value="{{row.2}}">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="sbumit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->

<!--this part will allow you to add thing to the database-->
<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Please Insert Data</h4>


         </div>


         <div class="modal-body">

<!--calleds the update function in the app file-->
            <form action="{{ url_for('insert1') }}" method="POST">


               <div class="form-group">


                  <label>description:</label>
                  <input type="text" class="form-control" name="description" required="1">


               </div>


                <div class="form-group">


                  <label>questionID :</label>
                  <input type="text" class="form-control" name="questionID " required="1">


               </div>

                <div class="form-group">


                  <label>correct:</label>
                  <input type="text" class="form-control" name="correct" required="1">


               </div>

               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Insert Data</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>



<!--displays what in the footer to the page-->
  {% include "footer.html" %}
    </div>


</div>

<!--ends texts body-->
{% endblock %}

<!--calls functions from bootstrap and jquery-->
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>