<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<h1>Quiz</h1>

{% for question in qResults %}
    <tr>
        <td>{{ question.description }}</td>
    </tr>
        {% for option in oResults %}
            {% if option.questionID == question.questionID %}
                <br>
                <br>
                <tr>
                    <td><button class="choosebtn">{{ option.description }}</button></td>
                    <td><button class="choosebtn" option_id="{{ option.optionID }}" action="{{ url_for('home.answer', chosenopt=option.optionID) }}">{{ option.description }}</button></td>
                    <td><button class="choosebtn" value="{{ option.optionID }}" action="{{ url_for('home.answer', chosenopt=value) }}">{{ option.description }}</button></td>
                </tr>
                <br>
                <br>
            {% endif %}
        {% endfor %}
{% endfor %}
</body>
</html>