<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
</head>
<body>
<h1>Training</h1>

{% for item in result %}
<tr>
    <td>{{ item.testID }}</td>
    <td>{{ item.takenDate }}</td>
    <td>{{ item.userID }}</td>
    <td><button class="choosebtn" onclick="window.location.href='{{ url_for('home.quiz', chosenquiz=item.testID) }}';">Select Test</button></td>
    <! --<td><button class="choosebtn" onclick="window.location.href='{{ url_for('home.quiz', chosenquiz=item.testID) }}';">Select Test</button></td>--!>
</tr>
{% endfor %}
</body>
</html>